<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBeOTeEXQAg7gxB2n2y06dBMIaW9cBsHxY</string>
	<key>GCM_SENDER_ID</key>
	<string>40514910825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foxtonsteemy</string>
	<key>PROJECT_ID</key>
	<string>foxtonsteemy-765c3</string>
	<key>STORAGE_BUCKET</key>
	<string>foxtonsteemy-765c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:40514910825:ios:a3a38f43deddd19766c0f8</string>
</dict>
</plist>